Package: com.wrp1002.siricoincontrol
Name: SiriCoinControl
Version: 1.2.0
Architecture: iphoneos-arm
Description: Control Siri coin flips!
Maintainer: Wes <wes.hamster@gmail.com>
Author: Wes <wes.hamster@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.2), com.muirey03.libmryipc
